// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background{
  background-image: linear-gradient(to left, rgb(0, 190, 228) 0%, rgb(0, 145, 210) 100%);
}
.bar-buttons,
.toolbar-title,
.bar-button-default-md:hover:not(.disable-hover){
  color: white;
}

ion-navbar.toolbar{
  height: 60px;
}

.toolbar-content{
  margin-right: 56px;
}

ion-title{
  text-align: center;
  text-transform: uppercase;
  .toolbar-title{
    font-size: 1.75rem;
  }
}

.button-inner:hover{
  color: #eeeeee;
}

.header::after{
  background-image: none;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
}

.header-background-image{
  background-image: url("../assets/imgs/16.jpg");
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: white;
  background-blend-mode: luminosity;
}

.header-background-image::before{
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: multiply;
  background: #00bee4;
  background: -webkit-gradient(linear, right top, left top, from(#00bee4), to(#0091d2));
  background: linear-gradient(to left, #00bee4 0%, #0091d2 100%);
}

.button-default {
  background: linear-gradient(to left, #00bee4 0%, #0091d2 100%) !important;
  border-radius: 64px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-md .item-block .item-inner{
  border-bottom: none;
}

ion-icon[item-start]{
  color: rgb(0, 192, 232);
  font-size: 20px !important;
  margin-bottom: 10px;
  margin-top: 18px !important;
}

button ion-label{
  font-size: 14px;
}

.item-ios, .item-md{
  padding-left: 1rem;
  padding-right: 1rem;
}

.item ion-icon[item-start] + .item-inner{
  margin-left: 10px;
}

.ios .menu-content-reveal{
  box-shadow: none;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block
.list-ios > .item-block:first-child{
  border-bottom: 0;
}

.list-ios > .item-block:first-child{
  border-top: 0;
}

.list-ios .item-block .item-inner{
  border-bottom: 0;
}

.list-header-ios, .list-header-md{
  border-top: 0;
  border-bottom: 0.55px solid #c8c7cc;
}

ion-fab button{
  background-color: #00c0e8 !important;
  color: white !important;
  bottom: 10px;
  right: 10px;
  -webkit-transition: all 300ms !important;
  transition: all 300ms !important;
}

.bar-button-default-md,
.bar-button-default-ios {
  color: white;
}

.toggle-md,.toggle-ios{
  box-sizing: content-box;
  contain: strict;
  cursor: pointer;
  height: 14px;
  margin: 0;
  padding: 12px 8px 12px 16px;
  position: relative;
  width: 36px;
  .toggle-icon{
    border-radius: 14px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #dedede;
    transition: background-color 300ms;
    pointer-events: none;
    .toggle-inner{
      background-color: #dedede;
      border-radius: 50%;
      height: 20px;
      left: 0;
      position: absolute;
      top: -4px;
      width: 20px;
    }
    &::before{
      background-color: #dedede;
    }
  }
}

.toggle-ios.toggle-checked .toggle-icon,
.toggle-md.toggle-checked .toggle-icon{
  background-color: #dedede;
}

.toggle-md.toggle-checked .toggle-inner,
.toggle-ios.toggle-checked .toggle-inner{
  transform: translate3d(16px, 0, 0);
  background-color: #0090d0;
}

.item-toggle{
  margin-top: 20px;
}

.item-input .label-md, .item-input .label-ios,
.item-md.item-toggle ion-label{
  color: #0090d0 !important;
}

.item-ios .item-inner{
  border-bottom: 1px solid #0090d0 !important;
  box-shadow: none !important;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner{
  border-bottom-color:  #0090d0 !important;
}

.md ion-menu[type=overlay] .menu-inner{
  box-shadow: none;
}

.button-outline-md{
  border-width: 1px;
  border-style: solid;
  border-color: #0090d0;
  color: #0090d0;
  height: 3.6rem !important;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  .button-inner:hover{
    color: #0090d0;
  }
}

.label-md {
  margin: 13px 0px 13px 0;
}

.item-md.item-block .item-inner {
  padding-right: 0;
}

.no-border-radius img{
  border-radius: 0 !important;
}

.blue-color{
  color: #0090d0 !important;
}

.actions{
  margin-top: 4rem;
  text-align: right;
  padding: 0 1rem;
  button{
    font-size: 1.5rem !important;
    ion-icon{
      font-size: 2.5rem;
    }
  }
}
